<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cinema Seat Reservation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="booking-style.css">
</head>
<body>
  <div class="container text-center">
    <h1 class="my-4">Choose your seat</h1>
    <div class="screen"></div>

    <div class="seats">

      <!-- row A -->
      <!-- <div class="row" row="A"> 

        <div class="dropdown seat common">
          <a href="#" class="seat-button" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Adult  -  1900тг</a></li>
            <li><a class="dropdown-item" href="#">Kids  -  1450тг</a></li>
            <li><a class="dropdown-item" href="#">Senior  -  1500тг</a></li>
            <li><a class="dropdown-item" href="#">Student  -  1400тг</a></li>
          </ul>
        </div>

      </div> -->

    </div>
   

    <!-- Legend -->
    <div class="legend">
      <div class="legend-item">
        <div class="seat"></div>
        <span>Unoccupied seat</span>
      </div>
      <div class="legend-item">
        <div class="seat occupied"></div>
        <span>Occupied seat</span>
      </div>
      <div class="legend-item">
        <div class="seat selected"></div>
        <span>Your choice</span>
      </div>
      <div class="legend-item">
        <div class="seat love"></div>
        <span>Love seats</span>
      </div>
      <div class="legend-item">
        <div class="seat vip"></div>
        <span>VIP seats</span>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="booking.js"></script>
  <script src="booking.render.js"></script>
</body>
</html>
