<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background-wrapper"></div>

    <header class="text-white py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="logo.png" class="card-img-top" alt="logo">
            </div>
            <!-- for basic home page  -->
            <!-- <div> 
                <a href="/login" class="btn btn-outline-light custom-green-btn">Log In</a>
                <a href="/register" class="btn btn-outline-light me-2">Register</a>
            </div> -->

            <!-- for login home page -->
            <div>
                <a href="/myticket" class="btn custom-white">My Ticket</a>
                <a href="/logout" class="btn btn-outline-light  custom-red-btn me-2">Logout</a>
            </div>
        </div>
    </header>

    <div class="container text-center">
        <div class="row justify-content-center">
            
            <h2 class="mb-5 custom-white">Now Showing</h2>

            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-2 movie-card">
                <a href="#" class="movie-link">
                    <div class="poster-container">
                        <img src="movie.jpeg" class="card-img-top" alt="Parthenope">
                        <div class="rating-badge">
                            <span>&#9733;</span> 5.7
                        </div>
                        <div class="pg-rating">18+</div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Babygirl</h6>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>