<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid p-0">
        <div class="row no-gutters hero">
            <div class="col-lg-6 col-md-6 col-sm-12 hero-poster">
                <div class="overlay">
                    <h1>Welcome.</h1>
                    <p>Begin your cinematic adventure now with our ticketing platform!</p>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12 hero-form mx-auto">
                <div class="container">
                    <h2 class="mb-4 title">Create an account</h2>
                    
                    <!-- Email Input -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                        <div id="email-error" class="error-message mt-2">Email error</div>
                    </div>
        
                    <!-- User Name Input -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter your username" required>
                        <div id="username-error" class="error-message mt-2">Fullname error</div>
                    </div>
        
                    <!-- Password Input -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Create a password" required>
                        <div id="password-error" class="error-message mt-2">Fullname error</div>
                    </div>
        
                    <!-- Confirm Password Input -->
                    <div class="mb-3">
                        <input type="password" class="form-control" id="confirm-password" placeholder="Confirm your password" required>
                        <div id="confirm-password-error" class="error-message mt-2">Fullname error</div>
                    </div>
        
                    <!-- Sign Up Button -->
                    <div class="d-grid">
                        <button type="submit" class="btn-accept" id="submit-btn">Create account</button>
                    </div>
        
                    <!-- Already have an account link -->
                    <div class="mt-3 text-center">
                        <span class="already-account">Already have an account ? <a href="/login" class="text-decoration-none link">Sign In</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="register.validation.js"></script>
</body>
</html>
